body{

margin:0;
font-family:Arial;
background:#f2f2f2;

}

.container{

display:flex;
height:100vh;

}

.editor{

width:35%;
background:white;
padding:20px;
overflow:auto;

}

.editor input,
.editor textarea{

width:100%;
padding:8px;
margin-bottom:10px;

}

.preview{

width:65%;
display:flex;
justify-content:center;
align-items:center;

}

.phone{

width:360px;
height:720px;
border:14px solid black;
border-radius:30px;
background:black;
color:white;
padding:15px;
overflow:auto;

}

.profile{

text-align:center;

}

#profilePic{

width:80px;
height:80px;
border-radius:50%;

}

.stats{

margin:10px 0;

}

.reelInsights{

margin-top:20px;
padding:10px;
background:#111;
border-radius:10px;

}

.grid{

margin-top:20px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:5px;

}

.post{

background:#444;
height:90px;

}

@media(max-width:800px){

.container{

flex-direction:column;

}

.editor{

width:100%;

}

.preview{

width:100%;

}

}
